.album {
  width: 150px;
  text-align: center;
  margin: 0 10px 10px 0;
}

.album__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.album__count_photos {
  position: absolute;
  right: 0;
  top: 0;
}

.album {
  position: relative;
  cursor: pointer;
}

.album:hover {
  opacity: 0.7;
}
